.logo {
    color: #0A1B32;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 48px;
    word-wrap: break-word
}

.logo-dot {
    color: #A3DC00;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 48px;
    word-wrap: break-word
 
}